<?xml version='1.0' encoding='utf-8'?>
<plugin id="speedPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>speedPlugin</name><js-module name="speedPlugin" src="www/speedPlugin.js"><clobbers target="cordova.plugins.speedPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="speedPlugin"><param name="android-package" value="speedPlugin.speedPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/speedPlugin.java" target-dir="src/speedPlugin/speedPlugin" /></platform></plugin>